/* CSS */


  @import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
  @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

  body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
  }

  html {
    height: 100%;
  }


  a{
    color:#a5732a;
  }

  a:hover {
    outline: none;
    text-decoration:none;
    color:#dab074;
  }

  a:focus {
    outline:none;
    outline-offset: 0;
  }

  a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
  }


  ul {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  h1{
    color: #686868;
  }

  h2{
    font-size: 24px;
    color: #686868;
  }

  h3{
    font-size: 18px;
  }

  .overflow{
    overflow: hidden;
  }

  .uppercase{
    text-transform: uppercase;
  }

  .btn-common {
    font-size: 14px;
    color: #797979;
    border: 1px solid #dbb075;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px 25px;
  }

  #action .col-sm-5{
    position: absolute;

    top: 0;
    height: 100%;
    right: 0;
  }


  .btn-common:hover, 
  .btn-common:focus{
    outline: none;
    background: none;
    box-shadow: none;
    color: #d29948;
  }

  .align-right{
    text-align: right;
  }

  .inline{
    display: inline-block;
  }

  .padding{
    padding: 65px 0;
  }

  .padding-bottom{
    padding-bottom: 65px;
  }

  .padding-top{
    padding-top: 90px;
  }

  .padding-right{
    padding-right: 80px;
  }

  .padding-left{
    padding-left: 80px;
  }

  .margin-bottom{
    margin-bottom: 35px;
  }

  .carousel-indicators.visible-xs {
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -35px;
    width: 100%;
    left: 0;
  }

  .carousel-indicators.visible-xs li {
    border-color: #D29948;
    border-width: 2px;
    height: 12px;
    margin: 0 5px 0 0;
    width: 12px;
  }

  .carousel-indicators.visible-xs li.active {
    background: rgba(210, 153, 72, 0.7);
  }




/*************************
*******Header******
**************************/


#header{
  margin-bottom: 0;
  padding: 30px 0 60px 0;
}

#header .navbar-inverse .container{
  position: relative;
}

.search{
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
}

.search i{
  color: #dbb075;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 2px;
}

.field-toggle{
  position: relative;
  top: 30px;
  right: 15px;
  display: none;
  height: 50px;
}

.search-form{
  padding-left: 10px;
  height: 40px;
  font-size: 18px;
  color: #818285;
  font-weight: 300;
  outline: none;
  border: 1px solid #dbb075;
  margin-top: 20px;
  border-radius: 4px;
}

.social-icons ul li{
  padding: 0 10px;

}

.social-icons ul li:last-child{
  padding-right: 0;

}

.social-icons ul li a{
  font-size: 18px;
  color: #d3d3d3;
  padding: 0;
}

.social-icons ul li a:hover,
.social-icons ul li a:focus{
  color:#dbb075;
  background: none;
}

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0;
}

#header .navbar-toggle{
  margin-top: 20px;
}

#header .navbar-brand{
  padding: 0;
  margin-left: 0;
}

#header .navbar-brand h1{
  padding: 0;
  margin: 0;
}

#header .navbar-nav.navbar-right >li:last-child{
  margin-right: 20px;
}

#header .navbar-nav.navbar-right >li a {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

#header .navbar-inverse .navbar-nav  li.active > a,  
#header .navbar-inverse .navbar-nav  li.active > a:focus, 
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #d29948;
}

#header .navbar-inverse .navbar-nav  li a:hover{
  color: #d29948;
}


/*Dropdown menu*/

ul.sub-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

#header .navbar-nav li ul.sub-menu li a {
  color: #818285;
  padding: 5px 0;
  font-size: 13px;
  display: block;
  text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active{
  background: #fef7ee;
  color: #d29948;
  position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i{
  position: absolute;
  font-size: 56px;
  top: -13px;
  color: #dab074;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right{
  left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left{
  right: -3px;
}


#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus{
  background: #fef7ee;
  color: #d29948;
}

.fa-angle-down{
  padding-left: 5px; 
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Home Page******
**************************/

#home-slider {
  background: url(../images/home/slider-bg.png) 0 100% repeat-x;
  position: relative;
}

#home-slider .main-slider {
  position: relative;
  height: 450px;
}

#home-slider .slide-text{
  position: absolute;
  top: 50px;
  left: 0;
  width: 450px;
}

.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}

#home-slider .slider-house {
  position: absolute;
  right: 0;
  bottom: 0;
}

.animate-in .slider-house {
  -webkit-animation: fadeInDown 700ms ease-in-out 200ms both;
  animation: fadeInDown 700ms ease-in-out 200ms both;
}

#home-slider .slider-circle1 {
  position: absolute;
  right: 430px;
  bottom: 210px;
}

.animate-in .slider-circle1 {
  -webkit-animation: bounceIn 500ms ease-in-out 900ms both;
  animation: bounceIn 500ms ease-in-out 900ms both;
}

#home-slider .slider-circle2 {
  position: absolute;
  right: 420px;
  bottom: 245px;
}

.animate-in .slider-circle2 {
  -webkit-animation: bounceIn 500ms ease-in-out 1100ms both;
  animation: bounceIn 500ms ease-in-out 1100ms both;
}

#home-slider .slider-cloud1 {
  position: absolute;
  right: 290px;
  bottom: 250px;
}

.animate-in .slider-cloud1 {
  -webkit-animation: bounceIn 500ms ease-in-out 1300ms both;
  animation: bounceIn 500ms ease-in-out 1300ms both;
}

#home-slider .slider-cloud2 {
  position: absolute;
  right: 375px;
  bottom: 330px;
}

.animate-in .slider-cloud2 {
  -webkit-animation: bounceIn 500ms ease-in-out 1500ms both;
  animation: bounceIn 500ms ease-in-out 1500ms both;
}

#home-slider .slider-cloud3 {
  position: absolute;
  right: 75px;
  bottom: 300px;
}

.animate-in .slider-cloud3 {
  -webkit-animation: bounceIn 500ms ease-in-out 1700ms both;
  animation: bounceIn 500ms ease-in-out 1700ms both;
}

#home-slider .slider-sun {
  position: absolute;
  right: 190px;
  bottom: 300px;
}

.animate-in .slider-sun {
  -webkit-animation: bounceIn 800ms ease-in-out 1900ms both;
  animation: bounceIn 800ms ease-in-out 1900ms both;
}

#home-slider .slider-cycle {
  position: absolute;
  right: 600px;
  bottom: 0;
}

.animate-in .slider-cycle {
  -webkit-animation: slideInLeft 4000ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
  animation: slideInLeft 4000ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
}

#home-slider h1{
  margin-top: 70px;
  margin-bottom: 25px;
}

#home-slider .btn-common {
  margin-top: 20px;
}

#home-slider .preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fafafa;
  text-align: center;
}

#home-slider .preloader > i {
  font-size: 48px;
  height: 48px;
  line-height: 48px;
  color: #dbb075;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -24px;
}


#action, 
#page-breadcrumb {
  background-image: url(../images/home/tour-bg.png);
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 155px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}

.vertical-center{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: statice;
}

.sun{
  background-image: url(../images/home/tour-icon1.png);
  background-repeat: no-repeat;
  background-position: 100% bottom;
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}





/****************************
********* Contact Us*********
*****************************/
#map-section {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

#gmap {
  height: 350px;
}

.get-in-touch img {
  margin-top: 35px;
  margin-bottom: 32px;
}

.get-in-touch p {
  font-size: 18px;
  font-weight: 300;
}

#map-section .contact-info {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 0;
  width: 33%;
  height: 100%;
  padding:25px 50px;
  opacity: 0.9
}

#map-section .contact-info h2, 
#map-section address a:hover {
  color: #a5732a
}

#contact-form #message{
  resize:none;
}

#contact-form .btn-submit {
  width: 28%;
  margin: 5px auto;
}

.corporate-info .corporate-address {
  background-image: url("../images/contact-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 50px;
}

.corporate-info .corporate-address address {
  background-image: url("../images/icon-map.png");
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
}

